{% load static %}
<!DOCTYPE html>
<html>
<head>
	  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type = "text/css" href = "{% static 'teachers/main.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
     <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'stocktrading/media/favicon.png' %}"/>



      

	<title>TradeTester</title>
</head>
<body>
	<header class="site-header">
	  <nav class="navbar navbar-expand-md navbar-dark bg-green fixed-top">
	    <div class="container">
	      <a class="navbar-brand mr-4" href="{% url 'teachers-dashboard' %}">
	      	<img src="{% static 'stocktrading/media/tradetester.png' %}" style="height: 45px;" alt="">
	      </a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	      </button>
	      <div class="collapse navbar-collapse" id="navbarToggle">
	        <div class="navbar-nav mr-auto">
	          <a class="nav-item nav-link" href="{% url 'teachers-dashboard' %}">Teacher Dashboard</a>
	          <a class="nav-item nav-link" href="{% url 'stocktrading-about' %}">About</a>
	        </div>
	        <!-- Navbar Right Side -->
	        <div class="navbar-nav">
	          {% if user == None %}
		          <a class="nav-item nav-link" href="{% url 'teachers-login' %}">Login</a>
		          <a class="nav-item nav-link" href="{% url 'teachers-signup' %}">Register</a>
	          {% else %}
				<div class="dropdown">
				  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    {{user.name}}
				  </button>
				  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				    <a class="dropdown-item" href="{% url 'stocktrading-account' %}">Account</a>
				    <a class="dropdown-item" href="{% url 'stocktrading-transactions' %}">Transactions</a>
				    <a class="dropdown-item" href="{% url 'stocktrading-signout' %}">Sign Out</a>
				  </div>
				</div>	          
				{% endif %}
	        </div>
	      </div>
	    </div>
	  </nav>
</header>
	<div class = "container">
		<main role="main" class="container">
			{% if messages %}
				{% for message in messages %}
					<div class = "alert alert-{{ message.tags }}">
						{{ message }}
					</div>
				{% endfor %}
			{% endif %}
			{% block content %}{% endblock %}
		</main>
	</div>
	

	<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#reserved-urls -->

	<!-- Initialize Firebase -->
</body>
</html>