{% extends "teachers/base.html" %}
{% load staticfiles%}
{% block content %}
<link rel="stylesheet" type = "text/css" href = "{% static 'teachers/landing.css' %}">
<div class="container noborder">
  <div class="border-0 my-5 whitetext">
    <div class="p-5">
      <h1 class="font-weight-light whitetext display-4">Organize Investing Games for your Students</h1>
      <hr />
    </div>
    <div class = "pl-5">
      <p class="lead">TradeTester for Teachers helps you keep track of all of your students using TradeTester.</p>
      <p class="lead">Still no ads, no limits, no risks.</p>
      <p class="lead mb-0">Sign up or log in to get started.</p>
      <a href="{% url 'teachers-signup' %}" class="btn btn-info bg-green mt-3 pl-2 pr-2 btn-md" role="button">Sign Up</a>
      <a href="{% url 'teachers-login' %}" class="btn btn-info bg-green mt-3 ml-3 pl-2 pr-2 rowButton" role="button">Log In</a>
      <p class = "lead mt-5">Just want to play? </p>
      <a href="{% url 'stocktrading-landing' %}" class="btn btn-info bg-green mt-3 pl-2 pr-2 mb-2" role="button">Back to TradeTester</a>

    </div>
  </div>
</div>
{% endblock content %}
