{% extends "teachers/base.html" %}
{% block content %}
<div class="col-sm-6 login-form" >
    <form class="" method="POST">       
    	  {% csrf_token %}
      <h2 class="login-header mb-4 centeredText">Reset Password</h2>
          {{ form.as_p }}
      <button class="btn btn-lg btn-primary btn-block bg-green" type="submit">Submit</button>   
    </form>

     <p class="login-header">Not Registered?  <a class="" href="{% url 'stocktrading-signup' %}">Create an Account</a> </p>  


 </div>
	
{% endblock content %}