{% extends "teachers/base.html" %}
{% block content %}
<div class="container" >
	<article class="media content-section">
           <div class="media-body">
              <div class="">
                 <p class="mr-2">Students in {{class.className}}</p>
              </div>
             <table class = "table">
             	<thead>
				    <tr>
				      <th scope="col">Name</th>
				      <th scope="col">Account ID</th>
				      <th scope="col"></th>
				    </tr>
				  </thead>
				  <tbody>
		             {% for id, name in class.students.items %}
		             	<tr>
							<div class = "row article-content ml-1">
								<td><p class="col-sm">{{name}}</p></td>
								<td><p class = "col-sm">{{id}}</p></td>
								<td><a class="btn btn-md btn-danger" href=""><i class="fa fa-close"></i></a></td>
							</div>
						</tr>
					{% endfor %}
				</tbody>
			</table>
           </div>
	</article>
	
	
</div>
	
{% endblock content %}