body {
  background: url('/static/teachers/media/classroom.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.whitetext{
	color: white;
}
.rowButton{
	display: inline-block;
    vertical-align: top;
}
hr{
	background-color: white;
}
.noborder{
	border: none !important;
	outline: none;
}