{% extends "stocktrading/base.html" %}
{% block content %}
	<h2 class = "mt-2 mb-3">About this Site</h2>
	 <article class="media content-section">
	         <div class="media-body">
	            <p class="article-content">My name is Zach and I built this application. This is one of my many solo passion projects, so feel free to play around with it. If you manage to break something, email me at allegrettidev@gmail.com.</p>
	            <p class = "article-content"> I studied Computer Science at Ohio State and I (at time of writing) work at Google. I am mainly an Android developer, so if you want to check out some of my live Android apps on Google Play, check out <a href = "https://play.google.com/store/apps/details?id=com.allegretti.zach.OnTargetFencing&hl=en">On Target Fencing</a> and <a href = "https://play.google.com/store/apps/details?id=com.harshil.zach.fitnesstracker&hl=en_US">FitRace</a>. If you want to learn more about me, check out my personal site <a href = "https://snackking.github.io/">here</a>. </p>
	            <p>If you are actually curious about how I built this site, I used the Django framework with a Firebase backend. For the market data, I used <a href = "https://www.worldtradingdata.com">WorldTradingData</a> and <a href = "https://iexcloud.io/">IEX Cloud</a>. I used Bootstrap for the frontend.</p>
	        </div>
	  </article>
{% endblock content %}