{% extends "stocktrading/base.html" %}
{% block content %}
<div class="row">
   <div class="col-md-8">
	   	<!-- Search form -->
	 <div class = 'mb-3'>
		<form class="form-inline flexbox" action = ".">
		  <input class="form-control stretch input-box-dark" type="text" placeholder="Enter Symbol Here (ex: MSFT)" aria-label="Search" name = "symbol">
		  <input type = "submit" value = "Search" class = "btn btn-primary ml-1 bg-green normal" >
		</form>
	</div>
		  {% if stocks|length == 0 %}
		  	<h3 class = "">Stocks you are watching will show up here</h3>
		  {% else %}
	      {% for key,value in watched.items %}
	      <article class="media content-section">
	         <div class="media-body">
	            <div class="article-metadata">
	               <a class="mr-2" href="stocks/{{value.symbol}}">{{ value.symbol }}</a>
	               <small class="text-muted">{{value.name}}</small>
	            </div>
	            <div class="mt-1 mb-2"> 
		            <h2 class="inline"><a class="article-title" href="stocks/{{value.symbol}}">{{ value.price }}</a></h2>
		            <h5 class="inline">USD</h5>
	        	</div>
	            	<p class="article-content {% if value.day_change|slice:'1' == '-' %}downtrend{% else %}uptrend{% endif %}">{{value.day_change}} ({{value.change_pct}}%)</p>
	         </div>
	      </article>
	      {% endfor %}
	      {% endif %}
   </div>
   <div class="col-md-4">
      <div class="content-section sidebar-closed-outer">
         <h3>Balance: ${{user.balance}}</h3>
         {% if not user.owned %}
         	<p class='text-muted'>Stocks you own will show up here</p>
         {% else %}
	         <p class='text-muted'>Stocks you own: 
	         <ul class="list-group">
	         	{% for key, value in owned.items %}
	            <li class="list-group-item list-group-item-light sidebar-closed-inner">{{value.symbol}}: ${{value.price}} <span class = "{% if value.day_change|slice:'1' == '-' %}downtrend{% else %}uptrend{% endif %}">({{value.day_change}})</span> <br/> {{value.numShares}} shares</li>
	            {% endfor %}
	         </ul>
	         </p>
         {% endif %}
      </div>
   </div>
</div>
{% endblock content %}