{% extends "stocktrading/base.html" %}
{% block content %}
<div class="col-sm-6 login-form" >
    <form class="" method="POST">
      {% csrf_token %}       
      <h2 class="login-header mb-4 centeredText">Sign Up</h2>
     	{{ form.as_p }}
      <button class="btn btn-lg btn-primary btn-block bg-green" type="submit">Sign Up</button>   
    </form>

     <p class="login-header">Already have an account?  <a class="" href="{% url 'stocktrading-login' %}">Log In</a> </p>  


 </div>
	
{% endblock content %}