{% extends "stocktrading/base.html" %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
<div class = "container">
    <div class = "row">
	<h2>{{stock.name}} ({{stock.symbol}})</h2>
    {% if symbol in user.added %}
        <input type="button" id="like" name="Like" value="Stop Watching" class = "btn btn-primary ml-4 bg-green" />
    {% else %}
        <input type="button" id="like" name="Like" value="Watch" class = 'btn btn-primary ml-4 bg-green' />
    {% endif %}
    </div>
	<h4>{{stock.price}} {{stock.currency}}</h4>
	<h6>Today's Change: {{stock.day_change}}</h6>
	<h6>Change in %: {{stock.change_pct}}</h6>
<canvas id="myChart" width="400" height="200"></canvas>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
Chart.defaults.global.responsive = true;
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels:  [{% for i in dayLabels %}'{{ i }}',{% endfor %}],
        datasets: [{
            label: 'Price',
            data: [{% for i in points %}{{ i }},{% endfor %}],
            backgroundColor: 'rgb(95,120,138,0.1)',
            borderColor: 'rgba(95,120,138,0.8)',
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: false
                }
            }]
        },
        tooltips: {
            callbacks: {
                label: function(tooltipItem, data) {
                    var label = "Price";

                    if (label) {
                        label += ': ';
                    }
                    label += tooltipItem.yLabel;
                    return label;
                }
            }
        },
        legend: {
            display: false,
            labels: {
                fontColor: 'rgb(255, 99, 132)'
            }
        },
         title: {
            display: true,
            text: 'Price History for {{stock.name}}',
            fontSize: 18
        }
    }

});
</script>
<h6> Your balance: ${{user.balance}} </h3>
 <div class = 'mt-3 mb-3 col-lg-8 row input-group flexbox'>
        <form  method = "post" class="form-inline" action = "{% url 'stocktrading-stock-buy' symbol=symbol %}">
          {% csrf_token %}       
          <i class="" aria-hidden="true"></i>
          <input name="price" type="hidden" value="{{stock.price}}" />
          <input id = "buy" class="form-control stretch" type="number" min = "0" step = "1" placeholder="Number of Shares" aria-label="buy" name = "count">
          <div class = "input-group-btn normal">
             <input id = "buybtn" disabled = "true" type = "submit" value = "Buy" class = "btn btn-primary bg-green" >
          </div>
        </form>
</div>
{% if owned %}
  <h6> You own {{numShares}} shares of {{symbol}} </h6>
    <div class = 'mt-3 mb-3 col-lg-8 row input-group flexbox'>
        <form method = "post" class="form-inline" action = "{% url 'stocktrading-stock-sell' symbol=symbol %}">
           {% csrf_token %}       
          <i class="" aria-hidden="true"></i>
          <input name="price" type="hidden" value="{{ stock.price }}" />
          <input id = "sell" class="form-control stretch" type="number" min = "0" step = "1" placeholder="Number of Shares" aria-label="sell" name = "count">
          <div class = "input-group-btn normal">
            <input id = "sellbtn" disabled="true" type = "submit" value = "Sell" class = "btn btn-primary bg-green" >
          </div>
        </form>
    </div>
{% else %}
 <h6> You don't own any shares of {{symbol}} </h3>
{% endif %}
{% if owned %}
<article class="media content-section">
           <div class="media-body">
              <div class="article-metadata">
                 <p class="mr-2">Your Equity</p>
              </div>
              <p>Total Equity: {{equity}}</p>
              <p>  Return: {{returnVal}} </p>
              <p class="article-content">Shares: {{numShares}}</p>
           </div>
</article>
{% endif %}
<article class="media content-section">
           <div class="media-body">
              <div class="article-metadata">
                 <p class="mr-2">Your History</p>
              </div>
              <p>Total Transactions: {{numTrans}}</p>
              <p> Total Return: {{totalReturn}} </p>
           </div>
</article>
<script>
$('#like').click(function(){
    var val = $(this).val();

      $.ajax({
               type: "POST",
               url: '{% url 'add-remove-stock' %}',
               data: {
                     'symbol': '{{symbol}}',
                     'value': val

                },
               dataType: "json",
               success: function(response) {
                    document.getElementById('like').value =response.newVal;
  

                },
                error: function(rs, e) {
                    window.alert("whoops")

                }
          }); 
    })
$("#buy").on('input', function() {
   var cost = $(this).val() * {{stock.price}}
   console.log(cost);
   if(cost > {{user.balance}} || $(this).val() == "") {
        document.getElementById("buybtn").disabled = true;
   }
   else{
        document.getElementById("buybtn").disabled = false;
   }

});
$("#sell").on('input', function() {
   var numToSell = $(this).val()
   if(numToSell > {{numShares}} || $(this).val() == "") {
        document.getElementById("sellbtn").disabled = true;
   }
   else{
        document.getElementById("sellbtn").disabled = false;
   }

});
</script>
		
</div>
{% endblock content %}