{% extends "stocktrading/base.html" %}
{% block content %}
<h1>Zach's Stock Trading</h1>
<div class="row">
   <div class="col-md-8">
	   	<!-- Search form -->
	 <div class = 'mt-3 mb-3'>
		<form class="form-inline" action = ".">
		  <i class="fas fa-search" aria-hidden="true"></i>
		  <input class="form-control w-75" type="text" placeholder="Enter Symbol Here (ex: MSFT)" aria-label="Search" name = "symbol">
		  <input type = "submit" value = "Search" class = "btn btn-primary ml-1 bg-steel" >
		</form>
	</div>
	  {% if user != None %}
	      {% for stock in stocks %}
	      <article class="media content-section">
	         <div class="media-body">
	            <div class="article-metadata">
	               <a class="mr-2" href="stocks/{{stock.symbol}}">{{ stock.symbol }}</a>
	               <small class="text-muted">{{stock.name}}</small>
	            </div>
	            <h2><a class="article-title" href="#">{{ stock.price }}</a></h2>
	            <p class="article-content">{{stock.day_change}} ({{stock.change_pct}}%)</p>
	         </div>
	      </article>
	      {% endfor %}
      {% else %}
      <p> Sign up or Log in to track stocks </p>
      {% endif %}
   </div>
   <div class="col-md-4">
      <div class="content-section">
         <h3>Balance: ${{user.balance}}</h3>
         <p class='text-muted'>You can put any information here you'd like.
         <ul class="list-group">
            <li class="list-group-item list-group-item-light">Latest Posts</li>
            <li class="list-group-item list-group-item-light">Announcements</li>
            <li class="list-group-item list-group-item-light">Calendars</li>
            <li class="list-group-item list-group-item-light">etc</li>
         </ul>
         </p>
      </div>
   </div>
</div>
{% endblock content %}