{% extends "stocktrading/base.html" %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
<div class = "container">
    <div class = "row">
	<h2>{{name}} ({{symbol}})</h2>
    <input type="button" id="like" name="Like" value="Add" />
    </div>
	<h4>{{price}} {{currency}}</h4>
	<h6>Today's Change: {{day_change}}</h6>
	<h6>Change in %: {{change_pct}}</h6>
<canvas id="myChart" width="400" height="200"></canvas>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels:  [{% for i in dayLabels %}'{{ i }}',{% endfor %}],
        datasets: [{
            label: 'Price',
            data: [{% for i in points %}{{ i }},{% endfor %}],
            backgroundColor: 'rgb(95,120,138,0.1)',
            borderColor: 'rgba(95,120,138,0.8)',
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: false
                }
            }]
        },
        tooltips: {
            callbacks: {
                label: function(tooltipItem, data) {
                    var label = "Price";

                    if (label) {
                        label += ': ';
                    }
                    label += tooltipItem.yLabel;
                    return label;
                }
            }
        },
        legend: {
            display: false,
            labels: {
                fontColor: 'rgb(255, 99, 132)'
            }
        },
         title: {
            display: true,
            text: 'Price History for {{name}}',
            fontSize: 18
        }
    }
});
</script>
<script>
$('#like').click(function(){
      $.ajax({
               type: "POST",
               url: '{% url 'add-remove-stock' %}',
               data: {
                     'symbol': '{{symbol}}'
                },
               dataType: "json",
               success: function(response) {
                    window.alert("something happened")
                },
                error: function(rs, e) {
                    window.alert("whoops")
                }
          }); 
    })
</script>
		
</div>
{% endblock content %}